.bottom-ticket p {
  background-color: #167e50;
}

.bottom-line2 {
  margin-top: 45%;
}

.bottom-pics-3 {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.appbiljetter2 {
  padding-left: 10px;
}
