.cykel-bokat {
  position: absolute;
  top: 200px;
  background-color: #167e50;
  padding-top: 30px;
  padding-bottom: 10px;
  border-radius: 10px;
}

.cykel-bokat p {
  padding-left: 40px;
  background-color: #167e50;
  font-family: "Gothic A1", sans-serif;
  font-weight: 700;
}

.button {
  padding: 4%;
  width: 90%;
  margin-bottom: 60px;
  background-color: #cd0b0b;
  outline-style: none;
  text-align: center;
  border-radius: 8px;
  border: none;
}
.button a {
  background-color: #cd0b0b;
  font-size: larger;
}

.info-2 {
  position: absolute;
  top: 600px;
  background-color: #4c5157;
}

.top-icon2 {
  position: absolute;
  top: 570px;
}
