/* Toppen av sidan */
.top1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4% 0;
}

/** text i mitten  */

.content {
  display: flex;
  justify-content: space-evenly;
  padding: 4%;
  font-size: 12px;
}

.ticket {
  display: flex;
  align-items: center;
}

.mini-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2970f0;
  padding: 25%;
  border-radius: 8px;
  width: 30px;
  height: 10px;
  border: none;
  margin: 0;
  font-size: 30px;
}

.number {
  padding: 3px;
}

.button {
  padding: 4%;
  width: 90%;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #2970f0;
  outline-style: none;
  text-align: center;
  border-radius: 8px;
  border: none;
}
.button a {
  background-color: #2970f0;
  font-size: larger;
}

.bottom-line {
  margin-top: 80%;
}

@media screen and (min-width: 375px) {
  .bottom-line {
    margin-top: 60%;
  }
}
@media screen and (min-width: 425px) {
  .bottom-line {
    margin-top: 50%;
  }
}
@media screen and (min-width: 768px) {
  .bottom-line {
    margin-top: 10%;
  }
  .bottom-pics {
    bottom: 0;
  }
}
@media screen and (min-width: 1024px) {
  .bottom-line {
    margin-top: 24%;
  }
  * {
    margin-right: 1px;
    font-size: medium;
  }
}
@media screen and (min-width: 1440px) {
  .bottom-line {
    margin-top: 12%;
  }
  p {
    font-size: x-large;
  }
  * {
    margin-right: 10px;
  }
  .bottom-pics {
    bottom: 0;
    position: absolute;
  }
}
@media screen and (min-width: 2560px) {
  .bottom-line {
    margin-top: 58%;
  }
  * {
    font-size: xxx-large;
  }

  p {
    font-size: xxx-large;
  }
  .top1-img {
    height: 160px;
  }
  h1 {
    font-size: xxx-large;
  }
}

.bottom-pics {
  position: absolute;
  bottom: 0;
  width: 100%;
}
