/*! Universal kod*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Gothic A1", sans-serif;
  background-color: #20252b;
}

@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@200&display=swap");

/*! Huvud Rubriken */
.top {
  background-color: #296ff2;
  height: 5px;
  width: 25%;
  border: none;
}

h1 {
  font-size: 20px;
}

.biljett {
  background-color: #12151a;
  border-radius: 10px;
  padding: 30px 0px;
}

.biljett p {
  text-align: center;
  font-family: "Gothic A1", sans-serif;
  background-color: #12151a;
}

/*! innehåll under rubrikerna */

hr {
  border: 1px solid #43484e;
}

p {
  color: rgb(199, 195, 195);
}

a {
  text-decoration: none;
}

.hr2 {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.plus-text {
  margin-top: 10px;
  margin-bottom: 0px;
}
.u-1 {
  padding: 0 10px;
}

h4 {
  margin-bottom: 5px;
}

.u-2 {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
  padding-left: 1px;
  align-items: center;
}

.appbiljetter {
  padding-left: 10px;
}
/*! Footer */
figure {
  display: flex;
  justify-content: space-evenly;
}
figure img {
  padding: 5%;
}
