/* Universal kod*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@200&display=swap");

body {
  background-color: #20252b;
}

hr {
  background-color: #296ff2;
  height: 5px;
  width: 25%;
  border: none;
}

h1 {
  font-family: "Gothic A1", sans-serif;
  font-size: 20px;
}

.biljett {
  background-color: #12151a;
  border-radius: 10px;
  padding: 30px 0px;
}

.biljett p {
  text-align: center;
  font-family: "Gothic A1", sans-serif;
}
