/*! Universal kod*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Gothic A1", sans-serif;
  background-color: #20252b;
}

@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@200&display=swap");

/*! Huvud Rubriken */
.top {
  border-top: 5px solid #296ff2;
}

h1 {
  font-size: 20px;
}

.bakåt-knapp {
  display: flex;
  align-items: center;
}

.bakgrundsbild {
  position: relative;
}
.svart-cykel {
  position: absolute;
  top: 430px;
  right: 37px;
  border-radius: 16px;
}

.info {
  padding: 10%;
  background-color: #4c5157;
}

.top-icon {
  position: absolute;
  top: 570px;
}

.biljett {
  background-color: #12151a;
  border-radius: 10px;
  padding: 30px 0px;
}

.biljett p {
  text-align: center;
  font-family: "Gothic A1", sans-serif;
  background-color: #12151a;
}

.biljett-köpt {
  background-color: #167e50;
  padding-top: 30px;
  padding-bottom: 10px;
  border-radius: 10px;
}

.biljett-köpt p {
  background-color: #167e50;
  font-family: "Gothic A1", sans-serif;
  font-weight: 700;
}

.biljett-köpt figure {
  background-color: #167e50;
}

.biljett-köpt figcaption {
  background-color: #167e50;
  font-family: "Gothic A1", sans-serif;
}

.biljett-köpt img {
  background-color: #167e50;
}

.siffror {
  font-size: xxx-large;
  margin-left: 5%;
  margin-bottom: 3%;
}

.content {
  margin-left: 5%;
}

.bottom-ticket {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #167e50;
  margin-top: 10%;
}

/*! innehåll under rubrikerna */

hr {
  border: 1px solid #43484e;
}

p {
  color: rgb(199, 195, 195);
}

a {
  text-decoration: none;
}

.hr2 {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.plus-text {
  margin-top: 10px;
  margin-bottom: 0px;
}
.u-1 {
  padding: 0 10px;
}

h4 {
  margin-bottom: 5px;
}

.u-2 {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
  padding-left: 1px;
  align-items: center;
}

.test {
  border-top: 1px solid blue;
}

.appbiljetter {
  padding-left: 10px;
}
/*! Footer */
figure {
  display: flex;
  justify-content: space-evenly;
}
figure img {
  padding: 5%;
}

.bottom-pics {
  position: absolute;
  bottom: 10;
  width: 100%;
}

@media screen {
}
